body {
  font-family: sans-serif;
  background-color: #eee;
}

h1 {
  text-align: center;
}

#new-tree-button {
  margin: 1rem auto;
  display: block;
  font-size: 1.25rem;
}

#wrapper {
  max-width: 800px;
  min-height: 80vh;
  margin: auto;

  padding: 2rem;

  border-radius: 5px;
  
  background-color: white;
}

#tree-container {
  width: 100%;
}

.node-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  position: relative;
}

.node-container::before {
  display: block;
  content: '';
  width: 50%;
  height: 1px;


  background-color: black;

  position: absolute;
  top: 0px;
}

/* Hide line on root element */
#tree-container > .node-container::before {
  display: none;
}

.node-container:last-child::before {
  transform: rotate(15deg);
  left: 0px;
}

.node-container:first-child::before {
  transform: rotate(-15deg);
  right: 0px;
}


.branch-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 0.25em;
}

.tree-node {
  padding: 1em;
  margin: 0;

  border-radius: 100%;
  border: 1px solid gray;
  box-shadow: 0 0 10px rgba(125 125 125 / 0.5);
  background-color: white;
  z-index: 999;
}

.button-div {
  text-align: center;
  margin-bottom: 1em;
}