body {
  font-family: sans-serif;
  background-color: #eee;
}

h1 {
  text-align: center;
}

#new-tree-button {
  margin: 1rem auto;
  display: block;
  font-size: 1.25rem;
}

#wrapper {
  max-width: 800px;
  min-height: 80vh;
  margin: auto;

  padding: 2rem;

  border-radius: 5px;
  
  background-color: white;
}

#tree-container {
  width: 100%;
}

.node-container {
  display: grid;
  justify-content: center;
  width: 100%;
}

.branch-container::before {
  display: block;
  content: '';
  width: 50%;
  height: 5px;

  border: 1px solid black;
  border-bottom: none;

  position: absolute;
  top: 0px;
}

.branch-container:empty::before {
  display: none;
}

.branch-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 0.25em;
  position: relative;
  padding-top: 5px;
}

.tree-node {
  padding: 1em;
  margin: 0 auto;

  border-radius: 100%;
  border: 1px solid gray;
  box-shadow: 0 0 10px rgba(125 125 125 / 0.5);
  background-color: white;
  z-index: 999;
  position: relative;
}

.tree-node::after {
  display: block;
  content: '';
  width: 1px;
  height: 5px;

  background-color: black;

  position: absolute;
  bottom: -5px;
  right: 50%;
}

.tree-node::after .branch-container:empty  {
  display: none;
}

.button-wrapper {
  size: 1em;
  text-align: center;
  margin-bottom: 1em;
}